<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="angular.min1-5.js"></script>
    <script src="ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="angular-bootstrap-checkbox.js"></script>




    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="main.css"/>

    <title>Resource survey</title>

    <style>
        .myScroll {
            height: 800px;
            overflow-y: scroll;
        }

        .required {
            background-color: #FFE2E2;
        }

        .selected {
            background-color: lightgrey;
        }
    </style>

    <script>

        angular.module("sampleApp",['ui.bootstrap','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("sampleApp").constant("moment", moment);

    </script>


    <script src="surveyCtl.js"></script>
    <script src="modalDialogSvc.js"></script>

    <script src='node_modules/cf-show-resource/dist/cf-show-resource.js'></script>

</head>
<body style="padding: 8px;padding-top: 80px">


<div ng-app="sampleApp" ng-controller="surveyCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-11 col-sm-11">
            <a class="navbar-brand" href="#">Resource usage survey</a>
        </div>

        <div class="col-md-1 col-sm-1">
            <div class="navbar-text">

                <button class="btn btn-link" ng-click = "showHelp = ! showHelp">
                    <i  class="glyphicon glyphicon-question-sign"></i>
                </button>

            </div>

        </div>

    </nav>


    <div ng-show="showHelp" class="rounded-box">
        <p>This survey has been designed to collect real-world usage information about FHIR to assist HL7 in determining the
            <a href="http://hl7.org/fhir/versions.html#maturity" target="_blank">maturity level</a>
        for individual resources.</p>

        <p>It can be completed any number times for each product and / or FHIR version that is being used by your application</p>

        <div>To submit a result:
            <ul>
                <li>Enter your name, email, software product and FHIR version/s (multiple are allowed).
                    All fields other than product are optional, but we'd appreciate as much info as possible.
                If you're OK to be contacted by the HL7 committee responsible for each resource then include an email address. If it's empty
                we'll assume that you don't want to be contacted.</li>
                <li>Select each resource you've used, indicate whether it is being used in a test or production environment and any pertinant notes</li>
                <li>When you've selected all the resources, click the submit button to send the results to the server. Note that
                the submit button will only show if there is a product entered.</li>

            </ul>
        </div>

    </div>


    <uib-tabset>
        <uib-tab heading="Survey">

            <div class="rounded-box-filled">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text"
                               class="form-control required" ng-model="input.product"
                               ng-blur = "checkProduct(input.product)"
                               placeholder="Software product"/>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="input.name" placeholder="My Name"/>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="input.contact" placeholder="Email (supply if OK to contact you)"/>
                    </div>

                    <div class="col-md-2">

                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="input.fhirVersion2" uib-btn-checkbox="'R2'">DSTU 2</label>
                            <label class="btn btn-default" ng-model="input.fhirVersion3" uib-btn-checkbox="'R3'">STU 3</label>
                            <label class="btn btn-default" ng-model="input.fhirVersion4" uib-btn-checkbox="'R4'">R4</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!--
                        <checkbox ng-model="input.selectedOnly"
                                  style="margin-top: 8px"
                                  ng-click="selectedOnly(! input.selectedOnly)"></checkbox>
                        <span style="margin-top: 12px">Only show selected resource types</span>
                        -->
                    </div>
                    <div class="col-md-1">
                        <button ng-show="input.product" class="btn btn-primary pull-right" ng-click="submit()">Submit</button>
                    </div>
                </div>

            </div>
<!--
            <div class="rounded-box-filled">
                <div class="row">
                    <div class="col-md-2">
                        Filter by resource type
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="input.filter"
                               ng-change="setFilter(input.filter)"
                               placeholder="Filter text"/>
                    </div>
                </div>
            </div>


            <br/>
-->
            <div class="row">
                <div class="col-md=3">
                    <div class="myScroll">
                        <table class="table table-bordered">
                        <tr>
                            <th width="20%">Resource type</th>
                            <th width="15%" width="15%">Deployment type</th>

                            <th>Notes</th>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        <checkbox ng-model="input.selectedOnly"

                                                  uib-popover = "Show only selected resource types"
                                                  popover-placement="right"
                                                  popover-trigger="'mouseenter'"

                                                  style="margin-top: 8px"
                                                  ng-click="selectedOnly(! input.selectedOnly)"></checkbox>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="input.filter"
                                               ng-change="setFilter(input.filter)"
                                               placeholder="Filter text"/>
                                    </div>
                                </div>



                            </td>
                        </tr>
                        <tr ng-repeat = "row in lst" >

                            <td>
                                <checkbox ng-model="input.selected[row.name]"
                                          ng-click="checked(row)"></checkbox>
                                {{row.name}}
                            </td>


                            <td>
                                <div ng-show="input.selected[row.name]">

                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="input.deployType[row.name]" uib-btn-radio="'dev'">Dev / Test</label>
                                        <label class="btn btn-default" ng-model="input.deployType[row.name]" uib-btn-radio="'prod'">Production</label>

                                    </div>
                                </div>
                            </td>

<!--
                            <td>
                                <div ng-show="input.selected[row.name]">

                                    <checkbox ng-model="input.devtest[row.name]"
                                              ng-click="checked(row)"></checkbox>

                                </div>

                            </td>


                            <td>
                                <div ng-show="input.selected[row.name]">
                                <checkbox ng-model="input.production[row.name]"
                                          ng-click="checked(row)"></checkbox>
                                </div>
                            </td>

-->
                            <td>
                                <div ng-show="input.selected[row.name]">
                                    <textarea class="form-control" ng-model="input.notes[row.name]"></textarea>
                                </div>
                            </td>


                        </tr>
                    </table>
                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab  ng-show="previous.length > 0">

            <uib-tab-heading>
                Previous surveys <span class="badge">{{previous.length}}</span>
            </uib-tab-heading>
            <h3>Previous surveys for this product: {{input.product}}</h3>

            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div ng-repeat = "item in previous"
                             ng-class="{'list-group-item':true, 'selected':item._id == currentItem._id}"
                             style="cursor: pointer"
                             ng-click="selectPreviousItem(item)">
                            {{item.date}}
                            <span class="pull-right clickable" ng-click="deletePreviousItem(item)">Delete</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <table class="table table-bordered">
                        <tr ng-repeat="resource in currentItem.resources">
                            <td>
                                {{resource.name}}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </uib-tab>
        <uib-tab heading="Results so far...">

            <div class="rounded-box-filled">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <checkbox ng-model="input.showNotes"
                                      uib-popover = "Show only selected"
                                      popover-placement="top"
                                      popover-trigger="'mouseenter'"
                                      ng-click="showNotes(! input.showNotes)"></checkbox>
                            Show Notes
                        </div>

                    </div>
                </div>

            </div>

            <table class="table table-bordered">
                <tr><th width="20%">Resource type</th><th>Number of Responses </th><th>Number contactable</th><th>Dev/Test deployments</th><th>Production deployments</th><th>Notes</th></tr>
                <tr ng-repeat="res in results">
                    <td>{{res.type}}</td>
                    <td>{{res.count}}  </td>
                    <td>{{res.contactable}}</td>
                    <td>{{res.dev}}</td>
                    <td>{{res.prod}}</td>
                    <td>
                        <div ng-show="input.showNotes" ng-repeat="note in res.notes track by $index">
                            {{note}}
                        </div>
                        <div ng-hide="input.showNotes">
                            <div ng-show="res.notes.length > 0">
                                ({{res.notes.length}})
                            </div>

                        </div>
                    </td>
                </tr>
            </table>



        </uib-tab>

    </uib-tabset>

</div>
</body>
</html>
